<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>skill</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Mem_db</display-name>
    <servlet-name>Mem_db</servlet-name>
    <servlet-class>ep.Mem_db</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mem_db</servlet-name>
    <url-pattern>/Mem_db</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Head_lg</display-name>
    <servlet-name>Head_lg</servlet-name>
    <servlet-class>ep.Head_lg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Head_lg</servlet-name>
    <url-pattern>/Head_lg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Reg</display-name>
    <servlet-name>Reg</servlet-name>
    <servlet-class>Reg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reg</servlet-name>
    <url-pattern>/Reg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Mem_lg</display-name>
    <servlet-name>Mem_lg</servlet-name>
    <servlet-class>ep.Mem_lg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mem_lg</servlet-name>
    <url-pattern>/Mem_lg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>test</display-name>
    <servlet-name>test</servlet-name>
    <servlet-class>ep.test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>client_login</display-name>
    <servlet-name>client_login</servlet-name>
    <servlet-class>ep.client_login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>client_login</servlet-name>
    <url-pattern>/client_login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>client_db</display-name>
    <servlet-name>client_db</servlet-name>
    <servlet-class>ep.client_db</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>client_db</servlet-name>
    <url-pattern>/client_db</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>gen_tic</display-name>
    <servlet-name>gen_tic</servlet-name>
    <servlet-class>ep.gen_tic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>gen_tic</servlet-name>
    <url-pattern>/gen_tic</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>validate_trans</display-name>
    <servlet-name>validate_trans</servlet-name>
    <servlet-class>ep.validate_trans</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>validate_trans</servlet-name>
    <url-pattern>/validate_trans</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>validate_tic</display-name>
    <servlet-name>validate_tic</servlet-name>
    <servlet-class>ep.validate_tic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>validate_tic</servlet-name>
    <url-pattern>/validate_tic</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>trans_details</display-name>
    <servlet-name>trans_details</servlet-name>
    <servlet-class>ep.trans_details</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>trans_details</servlet-name>
    <url-pattern>/trans_details</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Merchant_Details</display-name>
    <servlet-name>Merchant_Details</servlet-name>
    <servlet-class>ep.Merchant_Details</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Merchant_Details</servlet-name>
    <url-pattern>/Merchant_Details</url-pattern>
  </servlet-mapping>
</web-app>